body
    background #f4f4f4
    color gray
    height 5000px;
    h1
    	margin-top 20%
    	font-family 'Roboto Slab', serif
    	margin-left 15%
    	font-size 50px!important
	.width-500
		//display none
		width 500px
		margin-right 50px
		margin-left 15%
	.scroll
		display none
		font-family 'Lato', sans-serif
		font-weight light
		margin-top 40px